.container: .row: .col-md-12.text-right(style="margin-bottom:30px;")
  a.btn.btn-primary(ui-sref="status-new") Nuevo Estatus
.container: .row: .col-md-12
  table.table.table-bordered.table-hover
    thead
      tr
        th.text-center Nombre
        th.text-center Mensaje
        th.text-center Opciones
    tbody
      tr(ng-repeat="status in ctrl.statuses")
        td {{status.name}}
        td {{status.info}}
        td
          ul.list-inline
            li: a(ui-sref="status-edit({ id: status._id })"): span.glyphicon.glyphicon-pencil
            li: a(ui-sref="status-view({ id: status._id })"): span.glyphicon.glyphicon-eye-open
          //-a(ui-sref=""): span.glyphicon.glyphicon-trash