header#banner.hero-unit
  .container
    h1.text-center 'Allo, 'Allo!
    p.lead.text-center Kick-start your next web app with Angular Fullstack
    img(src='assets/images/yeoman.png', alt='I\'m Yeoman', style="margin:0 auto;display:block;")

